$body-bg: rgb(250,250,250);
$body-color: rgb(90,90,90);
body{
  &.login{
    background-image:url('../img/bg-lowry01.jpg');
    background-color:transparent;
    background-repeat: no-repeat ;
    background-position:center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
.logosd em{ 
  display:none;
}
.logosd::before{
  content:'';
  display:block;
  background:url('../img/sd_nb.svg') no-repeat center center;
  padding:0 30%;
  min-height:5rem;
  opacity:0.5;

}
