{{template "header.html"}}
{{template "header_close.html"}}
{{template "navbar.html" .}}

<table class="table">
	<thead>
		<tr>
			<th scope="col">Nombre</th>
			<th scope="col">Cuentas</th>
			<th scope="col">GID</th>
		</tr>
	</thead>
	<tbody>
		{{range .Data}}
		<tr>
			<th scope="row"><a href="/groups/{{.Name}}">{{.Name}}</a></th>
			<td>
			    {{range .Members}}
			    <a href="/users/{{.}}">{{.}}</a>,
			    {{end}}
			</td>
			<td>{{.GID}}</a></th>
		</tr>
		{{end}}
	</tbody>
</table>

{{template "footer.html"}}
