{{template "header.html"}}
{{template "header_close.html"}}
{{template "navbar.html" .}}

{{$isAdmin := .IsAdmin}}
{{with .Data}}
<div class="row justify-content-center">
    <dl>
        <dt>Nombre</dt><dd>{{.Name}}</dd>
        <dt>Cuentas</dt><dd>
	    {{range .Members}}
	    <a href="/users/{{.}}">{{.}}</a>,
	    {{end}}
	</dd>
        <dt>GID</dt><dd>{{.GID}}</dd>
    </dl>
</div>

  {{if $isAdmin}}
      <br />
      <div class="row justify-content-center">
	 <form action="/groups/{{.Name}}/add/" method="post">
          <div class="row">
          <div class="col">
            <label for="password">Añade usuaria:</label>
	  </div>
          <div class="col">
            <input type="text" class="form-control" id="user" name="user" placeholder="Usuaria">
	  </div>
          <div class="col">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
          </div>
        </form>
      </div>
      <div class="row justify-content-center">
	 <form action="/groups/{{.Name}}/del/" method="post">
          <div class="row">
          <div class="col">
            <label for="password">Elimina usuaria:</label>
	  </div>
          <div class="col">
            <input type="text" class="form-control" id="user" name="user" placeholder="Usuaria">
	  </div>
          <div class="col">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
          </div>
        </form>
      </div>
  {{end}}
{{end}}

{{template "footer.html"}}
