{{template "header.html"}}
{{template "extra_script_password_validator.html"}}
{{template "header_close.html"}}
{{template "navbar.html" .}}

    <div class="container">

      {{if .Data.AskSindominante}}
      <br />
      <div class="row col-md">
	<p>Como habrás visto SinDominio está en <a href="https://trastienda.sindominio.net/Grandes_Planes">proceso de cambios</a>. ¿Cual quieres que sea tu relación con SinDominio?</p>
        <form action="/ask-sindominante/" method="post">
          <div class="form-check">
            <label class="form-check-label">
            <input class="form-check-input" type="radio" name="role" id="sindominante" value="sindominante" checked>
	    <dt>Sindominante</dt><dd>Seguirás formando parte de las decisiones del día a día en la asamblea, manteniendo SinDominio funcionando y tendrás acceso a todos los servicios de SinDominio.</dd>
	    </label>
	  </div>
          <div class="form-check">
            <label class="form-check-label">
            <input class="form-check-input" type="radio" name="role" id="amiga" value="amiga">
	    <dt>Amiga</dt><dd>Pasarás a ser una cuenta usuaria de SinDominio sin acceso a la toma de decisiones del proyecto pero con correo electrónico y mensajería instantánea. Si ya tienes pagina web u otros servicios estos se respetarán.</dd>
	    </label>
	  </div>
          <div class="col">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>

      {{else}}

      {{if .Data.NeedPasswordChange}}

      <br />
      <div class="row justify-content-center">
	<p class="col-md-8">Hace muchos años que no has cambiado tu contraseña de SinDominio, y por ello no estaba guardada en un formato totalmente seguro. ¡Sentimos si por esto la hemos puesto en peligro! ¿Te importaría cambiarla?</p>
      </div>
      <br />
      <div class="row justify-content-center">
        <form class="col-sm-4" id="needs-validation" action="/password/" method="post" novalidate>
          <div class="form-group">
            <label for="oldpass">Contraseña actual:</label>
            <input type="password" class="form-control" id="oldpass" name="oldpass" placeholder="Contraseña">
          </div>
          <div class="form-group">
            <label for="password">Nueva contraseña:</label>
	    {{template "passwd-tips.html"}}
            <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
	    <div class="progress">
		<div id="StrengthProgressBar" class="progress-bar"></div>
	    </div>
          </div>
          <div class="form-group">
            <label for="password2">Repita la contraseña nueva:</label>
            <input type="password" class="form-control" id="password2" name="password2" placeholder="Contraseña">
            <div class="invalid-feedback">No ha introducido la misma contraseña.</div>
          </div>
          <button type="submit" class="btn btn-primary">Cambiar</button>
        </form>
      </div>

      {{else}}

      <br />
      <div class="row justify-content-center">
	<div class="col-md-6">
          <p>Bienvenida a lowry, nuestro burocrata preferido. ¿que quieres hacer hoy?</p>
          <ul class="list-group">
	      <li class="list-group-item"><a href="/password/">Cambiar la contraseña</a></li>
	      {{if eq (printf "%v" .Role) "sindominante"}}
	      <li class="list-group-item"><a href="/adduser/">Invitar amiga a SinDominio</a></li>
	      {{end}}
	      {{if .IsAdmin}}
	      <li class="list-group-item"><a href="/users/">Ver listado de cuentas</a></li>
	      <li class="list-group-item"><a href="/groups/">Ver listado de grupos</a></li>
	      {{end}}
          </ul>
	</div>
      </div>
      {{end}}
      {{end}}
    </div>

{{template "load-password.js"}}
{{template "footer.html"}}
