{{template "header.html"}}
{{template "header_close.html"}}
{{template "navbar.html" .}}

{{$isAdmin := .IsAdmin}}}
{{with .Data}}
<div class="row justify-content-center">
    <br />
    <br />
    <dl>
        <dt>Nombre</dt><dd>{{.User.Name}}</dd>
        <dt>Rol</dt><dd>{{.User.Role}}</dd>
        <dt>Shell</dt><dd>{{.User.Shell}}</dd>
        <dt>Home</dt><dd>{{.User.Home}}</dd>
        <dt>Mail</dt><dd>{{.User.Mail}}</dd>
	{{if .Groups}}
        <dt>Grupos</dt><dd>
	    {{range .Groups}}
	    <a href="/groups/{{.Name}}">{{.Name}}</a>,
	    {{end}}
	</dd>
	{{end}}
        <dt>Último login</dt><dd>{{.User.LastLogin}}</dd>
        <dt>UID</dt><dd>{{.User.UID}}</dd>
	{{with .MainGroup}}
	<dt>GID</dt><dd><a href="/groups/{{.Name}}">{{.Name}} ({{.GID}})</a></dd>
	{{end}}
    </dl>
</div>

  {{if $isAdmin}}
      <br />
      <div class="row justify-content-center">
	 <form action="/users/{{.User.Name}}/role/" method="post">
          <div class="row">
          <div class="col-md-5">
            <label>Cambia el rol (tu relación con SinDominio):</label>
	  </div>
          <div class="col-md-5">
	  <div class="form-check from-check-inline">
	    <input class="form-check-input" type="radio" name="role" id="amiga" value="amiga"
	      {{if eq (printf "%v" .User.Role) "amiga"}}checked{{end}}>
	    <label class="form-check-label" for="amiga">amiga</label>
          </div>
	  <div class="form-check from-check-inline">
	    <input class="form-check-input" type="radio" name="role" id="sindominante" value="sindominante"
	      {{if eq (printf "%v" .User.Role) "sindominante"}}checked{{end}}>
	    <label class="form-check-label" for="sindominante">sindominante</label>
          </div>
          </div>
          <div class="col-sm-2">
          <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
          </div>
        </form>
      </div>
      <br />
      <div class="row justify-content-center">
	 <form action="/users/{{.User.Name}}/password/" method="post">
          <div class="row">
          <div class="col-md-5">
            <label for="password">Cambia la contraseña:</label>
	  </div>
          <div class="col-md-5">
            <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
	  </div>
          <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
          </div>
        </form>
      </div>
      <br />
      <div class="row justify-content-center">
	<form action="/users/{{.User.Name}}/shell/" method="post">
          <div class="row">
          <div class="col-md-5">
            <label for="password">Cambia la shell:</label>
	  </div>
          <div class="col-md-5">
            <input type="text" class="form-control" id="shell" name="shell" placeholder="Shell">
	  </div>
          <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
          </div>
        </form>
      </div>
  {{end}}
{{end}}

{{template "footer.html"}}
