{{template "header.html"}}
{{template "header_close.html"}}
{{template "navbar.html" .}}

<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">Nombre</th>
			<th scope="col">Rol</th>
			<th scope="col">Shell</th>
			<th scope="col">Login</th>
			<th scope="col">UID</th>
			<th scope="col">GID</th>
		</tr>
	</thead>
	<tbody>
		{{range .Data}}
		<tr {{if eq (printf "%v" .Role) "sindominante"}}class="table-success"{{end}}>
			<th scope="row"><a href="/users/{{.Name}}">{{.Name}}</a></th>
			<td>{{.Role}}</td>
			<td {{if ne .Shell "/bin/false"}}class="font-weight-bold"{{end}}>{{.Shell}}</td>
			<td>{{.LastLogin}}</td>
			<td>{{.UID}}</td>
			<td>{{.GID}}</td>
		</tr>
		{{end}}
	</tbody>
</table>

{{template "footer.html"}}
